name: Build Caddy Image (Alpine)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: docker/setup-buildx-action@v3.11.1
      - uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner}}
          password: ${{ secrets.GHCR_PAT }}
      - uses: docker/build-push-action@v6.18.0
        with:
          push: true
          context: .
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository_owner}}/caddy:alpine
